[submodule "external/eigen"]
	path = external/eigen
	url = https://gitlab.com/libeigen/eigen.git
	branch = 3.4
[submodule "external/PhysX"]
	path = external/PhysX
	url = https://github.com/NVIDIAGameWorks/PhysX.git
